<div class="container-fluid">
   <div class="row">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading overflow-hidden-wrapper">
                        <h3 class="panel-title pull-left">News overview</h3>
                        <a class="btn btn-primary pull-right btn-xs" ui-sref="main.newsAdd"><i class="fa fa-plus"></i> Add news</a>
                    </div>
                    <div class="panel-body" >
                        <rd-loading ng-hide="doneLoading"></rd-loading>
                        <div ng-show="doneLoading">
                        <p ng-show="articles.length === 0">No content available</p>
                        <ul class="list-group">
                          <li ng-repeat="article in articles" class="list-group-item overflow-hidden-wrapper">
                              <div class="pull-left">     
                              <p>English title: {{article.en.title}}</p>
    
                              <p ng-if="!!article.fr">中文标题：{{article.fr.title}}</p>
                              </div>
                              <div class="btn-group pull-right ">
                                  <a ui-sref="main.newsUpdate({id: article.id})" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</a>
                                  <a class="btn btn-danger btn-sm" ng-click="delete(article)"><i class="fa fa-trash"></i> Delete</a>
                              </div>
                            </li>
                        </ul>
                       </div>
                    </div>
                </div>
            </div>
    </div>
</div>

