<div class="container-fluid">
   <div class="row">
            <div>
                
<form action="http://www.lavamelon.com:1337/files/upload" ng-upload="completed(content)" class="form-inline">
    <div class="form-group">
     <input class="hidden" type="text" name="type" ng-model="model.type" />
     <input class="hidden" type="text" name="domain" ng-model="model.domain" />
     <input class="hidden" type="text" name="id" ng-model="model.id" />
     <input type="file" name="file"  class/>
     </div>
     <input type="submit" class="btn btn-info btn-sm" value="Upload" ng-disabled="$isLoading"  />
</form>
                <br>
<div class="panel panel-default">
                    <div class="panel-heading overflow-hidden-wrapper">
                        <h3 class="panel-title pull-left">Images attached to this article</h3>
                    </div>
                    <div class="panel-body" >
                        <gallery>
                          <rd-loading ng-hide="doneLoading"></rd-loading>
                          <div class="row gallery" ng-show="doneLoading">
                            <h3 ng-if="!model.images.length">No image yet</h3>
                            <div class="col-sm-4 col-md-3" ng-repeat="img in model.images">
                              <thumbnail file-id="{{img.id}}" file-name="{{img.filename}}" image-source="{{img.url}}"></thumbnail>
                            </div>
                          </div>
                          </gallery>
                    </div>
</div> 
                
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading overflow-hidden-wrapper">
                        <h3 class="panel-title pull-left">Edit news</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" ng-submit="update()">
                           <div class="row">
                            <h4>Pick a template</h4>
                            <fieldset >
                                <select  class="form-control" ng-model="article.template" ng-options="template for template in templates">
                                    <option value="">-- choose a template --</option>
                                </select>
                            </fieldset>
                            </div>
                            <hr/>
                            <div class="row">
                            <fieldset class="col-md-6 col-sm-12 col-xs-12">
                                <h4>English</h4>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Title" name="en.title" type="text" ng-model="article.en.title" autofocus="">
                                </div>
                            
                                <div text-angular row="3" placeholder="Body" ng-model="article.en.body"></div>
                                
                            </fieldset>
                            
                            <fieldset class="col-md-6 col-sm-12 col-xs-12">
                                <h4>中文</h4>
                                <div class="form-group">
                                    <input class="form-control" placeholder="标题" name="zh.title" type="text" ng-model="article.zh.title">
                                </div>
                                
                                <div text-angular placeholder="内容" ng-model="article.zh.body"></div>
                                
                            </fieldset>
                            </div>
                            <hr/>
                            <div class="row">
                                 <input class="btn btn-primary btn-lg center-block" type="submit" id="submit" value="Submit" />
                            </div>
                          
                            
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>